hr{
  width: 100%;
}

#formInput{
  display: flex;
  flex-direction: column;
  padding-inline: 50px;
  color: white;
}

#formInput>input{
  margin-top: 7px;
  margin-bottom: 15px;
  height: 30px;
  border: transparent;
  border-radius: 10px;
}

#headerModal{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}



#formModalInput{
  display: flex;
  flex-direction: column;
  color: white;
}

#formModalInput>input{
  width: 60%;
  margin-top: 5px;
}
#formModalInput>label{
  margin-top: 15px;
}

.divSendModal{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.divSendModal>button{
  height: 40px;
  margin-top: 15px;
  width: 70px;
  max-width: 150px;
  font-size: 30px;
  background-color: rgb(1, 102, 1);
  border-radius: 5px;
  border: transparent;
  color: white;
}
.divSendModal>button:hover{
  background-color: rgb(1, 71, 1);
}

#divbtnModalLogin{
  width: 100%;
  display: flex;
  justify-content: flex-end;
} 

.headerModal{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.headerModal>button{
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: transparent;
}
