header{
  height: 80px;
  background-color: rgb(17, 17, 17);
}

button {
  border: none;
  border-radius: 5px;
  padding: 5px;
  color: white;
}

header>nav{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: inherit;
}
header>nav>h2{
  color: rgb(230, 228, 228);
  margin: 0 15px 0 25px;
}

.navlinkoff,.navlinkon{
  text-decoration: none;
  margin-right: 10px;
  font-size: 16px;
}
.navlinkon{
  color: rgb(230, 229, 229);
  font-size: 18px;
} 
.navlinkoff{
  color: rgb(95, 94, 94);
}

.navlinkoff:hover{
  color: rgb(201, 198, 198);
}


.container{
  background-color: rgb(22, 22, 22);
  width: 50%;
  margin: 20px auto;
  color: rgb(240, 240, 240);
  border-radius: 10px;
  padding: 10px;
}


.headerContactItem,.headerContactPage{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.contactItem{
  border: solid rgb(15, 89, 107) 1px;
  margin-top: 5px;
  border-radius: 5px;
  padding: 10px;
}

form{
  display: flex;
  flex-direction: column;
}

form>input{
  margin-top: 5px;
  margin-bottom: 10px;
}

.Link{
  text-decoration: none;
  color: white;
  margin-left: 10px;
  padding: 5px;
  border-radius: 5px;
}

.Add{
  background-color: rgb(10, 165, 10);
}
.Add:hover{
  background-color: rgb(11, 129, 11);
}
.Modif{
  background-color: rgb(199, 171, 10);
}
.Modif:hover{
  background-color: rgb(145, 124, 8);
}
.Supr{
  background-color: rgb(196, 11, 11);
}
.Supr:hover{
  background-color: rgb(148, 8, 8);
}

.btnContainer{
  display: flex;
  flex-direction: row-reverse;
}