body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.red{
  background-color: rgba(190, 22, 22, 0.589);
  width: 100%;
  height: 25vh;
}

.blue{
  background-color: rgba(6, 146, 201, 0.705);
  width: 100%;
  height: 25vh;
}

button{
  width: 25%;
  height: 35px;
  margin-left: 40%;
  background-color: rgb(48, 48, 48);
  border: transparent;
  border-radius: 5px;
  color: white;
}

.redBtn{
  background-color: rgba(190, 22, 22, 0.589);
}

.blueBtn{
  background-color: rgba(6, 146, 201, 0.705);
}

.container{
  width: 20%;
  min-width: 300px;
  margin-top: 20px;
  border: solid black 1px;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.infoContainer{
  padding: 5px;
}

.globalContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}


h4{
  text-align: center;
}