.globalContainer{
    height: 100%;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
}

.listeContainer{
    margin-left: 5%;
    margin-top: 5%;
}

.listeContainer>div{
    border: solid black 1px;
    width: 300px;
    text-align: center;
    padding: 5px;
}

.listeContainer>div>button{
    background-color: rgb(29, 121, 226);
    border-radius: 5px;
    border: transparent;
    padding: 10px;
}
.listeContainer>div>button:hover{
    background-color: rgb(25, 89, 161);
}

.panierContainer{
    margin-left: 10%;
    margin-top: 5%;
    border: solid black 1px;
    height: 200px;
    padding: 5px;
    text-align: center;
}

.off {
    display: none; 
}
.on{
    display: block;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.705);
}

.modalContainer{
    width: 80%;
    margin: auto;
    margin-top: 5%;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 10px;
}

.modalBtn{
    margin-left: 95%;
}

.panierModal{
    margin-right: 10%;
}

.affichageText{
    font-size: 25px;
}

.btnAffichagePanier{
    background-color: rgb(18, 146, 28);
    color: white;
    border: transparent;
    border-radius: 5px;
    padding: 5px;
}
.btnAffichagePanier:hover{
    background-color: rgb(15, 114, 23);
    transform: translateY(-0.1rem);
    box-shadow: 5px 3px 3px rgba(0, 0, 0, 0.637);
}